#Include .\win.ahk

#z::
	FileCopy, C:\.shortcut\.taskbar\*, C:\Users\Luciferz2012\AppData\Roaming\Microsoft\Internet Explorer\Quick Launch\User Pinned\TaskBar\, 1
	IfWinNotActive, Todoist
	{
		Send #2
		Sleep 3000
	}
	Input_Eng("/p1, p2, p3")
	Send {Enter}{Tab}
return

#q::
	FileCopy, C:\.shortcut\.taskbar\*, C:\Users\Luciferz2012\AppData\Roaming\Microsoft\Internet Explorer\Quick Launch\User Pinned\TaskBar\, 1
	IfWinNotActive, Todoist
	{
		Send #2
		Sleep 3000
	}
	Send q
return